  
/* Que el contenedor del carousel ocupe toda la pantalla */
.carousel {
    width: 99.3vw; /* 100% del ancho de la ventana */
    margin-left: calc(-49vw + 49%); /* Para que no se limite al contenedor padre */
}

/* Asegurar que la imagen se adapte completamente */
.carousel-item img {
    width: 100%;
    height: 350px; /* conservas tu altura original */
    object-fit: cover; /* que se adapte sin dejar bordes */
}

footer {
    background-color: #b6e6a3;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
}